

    <p>Terms & notes</p>
    <p>We really appreciate your business.</p>
    <p>Please send payment before the due date</p>
    <p>Payment details. ACC 123006705<span>·</span>IBAN US100000000060345<span>·</span>SWIFT BOA457</p>

