<div class="header">
    <h1>Tech Store</h1>
    <h2>5171 W Campbell Ave <span>·</span> 53127 Kent, Utah</h2>
    <h2>(262) 555-0131 <span>·</span> http://www.zoomit.com <span>·</span> isaac.gibson@example.com</h2>
</div>